body {
    margin: 0;
}

.dash-right {
    display: flex;
    width: 75%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.div-form {
    height: 75vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.div-form button {
    width: 150px;
    height: 35px;
    border: none;
    background-color: white;
    font-family: Inter;
    font-weight: 700;
}

.area {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}