html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: url(../IMG/fundoJordan.png);
        background-size: cover;
        background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

/* scroll */

/* Personaliza a largura do scroll */
::-webkit-scrollbar {
    width: 10px;
}

/* Personaliza a cor de fundo da track
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
} */

/* Personaliza a cor da thumb */
::-webkit-scrollbar-thumb {
    background-color: green;

}

/* Personaliza a cor da thumb quando hover */
::-webkit-scrollbar-thumb:hover {
    background-color: green;
}

/* fim scroll */

/* começo do header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70px;
    position: relative;
    z-index: 2;
}

header span {
    color: white;
    font-family: Inter;

}


header img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

header img:hover {
    transform: scale(1.2);
}



.div_headerIMG {
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-items: center;
    margin-left: 50px;
}

.div_links {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-right: 50px;

}

.underline {
    width: 0px;
    height: 3px;
    transition: all 0.5s ease-out;
}

.link:hover > .underline {

    width: 80%;
    background-color: green;
    border-radius: 15px;
    
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

/* fim do header */


.opacidade {
    background-color: rgba(0, 0, 0, 0.694);
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

}

.div_Titulo {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 150px;
}


.underline-pagChamado {
    width: 20%;
    height: 10px;
    background-color: green;
    border-radius: 5px;
    animation: animation 3s linear alternate;
  }
  
  @keyframes animation {
    from {
      width: 0%;
    }
    to {
      width: 20%;
    }
  }

.div_Titulo span {
    color: white;
    font-size: 65px;
    font-family: Inter;
    font-weight:bolder;
}

.corpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 200px;
    justify-content: space-between;
}

.corpo span {
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
}

    /* começo do footer  */

    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 90px;
        position: relative;
        background-color: black;
    }

    .div_nome_footer {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-left: 50px;
    }

    .div_botao_topo {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-left: 100px;
    }

    .div_redes-sociais {
        width: 30%;
        display: flex;
        justify-content: flex-end;
        justify-content: space-around;
        margin-right: 50px;
    }

    .div_redes-sociais img {
        width: 30px;
        height: 30px;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
    }

    .div_redes-sociais img:hover {
        transform: scale(1.1);
    }

    .div_botao_topo img {
        height: 50px;
        width: 50px;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
    }

    .div_botao_topo img:hover {
        transform: scale(1.2);
    }

    footer span {
        font-size: 25px;
        color: white;
        font-family: Sedgwick Ave Display;
    }